/******************************
* PlantUMLServlet style sheet *
******************************/

/* Font */
h1, p, #content a {
    font-family: arial,helvetica,sans-serif;
    /* font-size: medium; */
}

/* Header */
#header {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background: tan;
}

/* Content */
#content {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 10%;
    bottom: 5%;
    left: 0;
    right: 0;
    overflow: auto;
}

#umlcode {
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
    margin-left: 1%;
}

#umlimg {
    position: absolute;
    margin-left: 1%;
    width: 60%;
    top: 0;
    right: 0;
}

/* Form inputs */
#umltext {
    font-family: monospace;
    font-size: medium;
    resize: vertical;
    width: 95%;
    height: 75vh;

    background: #ffc url(linenumber.png) no-repeat local;
    padding-left: 35px;
    padding-top: 10px;
}

/* Footer */
#footer {
    background-color: #eee;
    color: #666;
    font-size: 0.7em;
    padding: 2px;
    text-align: center;
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
}
